<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div>

	<textarea>aaa</textarea>
	<br></br>
	<label>Enter password</label>
	<br></br>
	<input type="submit" value="Submit"></input>

</div>
